/* *************************************************************************

  This file is part of Team Manager.

  Copyright © 2013 Mark Ross <krazkidd@gmail.com>

  Team Manager is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Team Manager is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Team Manager.  If not, see <http://www.gnu.org/licenses/>.
  
************************************************************************* */

html,
body {
	margin: 0;
	padding: 0;
}

#container {
	width: 800px;
	margin: 0 auto;
	padding: 0;
}

/* site-wide primary color */
#navbar a,
#content-player-profile img {
    color: #3ac6c1; /* aqua */
}
#content-player-profile h2 {
    background-color: #3ac6c1; /* aqua */
}
#calendar .todays-date {
    border-color: #3ac6c1; /* aqua */
}

/* site-wide secondary color */
#navbar li:hover,
#login-module p a {
	background-color: #ffc973; /* light orange */
}

#navbar {
	padding: 0;
	margin-bottom: 50px; /*TODO #navbar has 0 height because of floated elements. Is this margin the best way to push down the content body? */
}

#navbar ul {
	margin: 0;
	padding: 0
}

#navbar li {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	list-style: none;
	/*margin: 0;*/
	/*height: 2em;*/
	/*background-color: #3ac6c1;*/
}

#navbar a {
    /* color: see site-wide color */
}

#navbar a {
	font-weight: bold;
}

#navbar li a {
	display: block;
	line-height: 2em;
	padding: 5px;
}

#navbar li:hover {
	/* background-color: see site-wide color */
}

#navLoginName {
	margin: 0;
	padding: 5px;
	border: 0;
	float: right;
	color: #999999; /* gray */
	font-size: 0.8em;
	line-height: 2em;
}

/*TODO mark this rule as important to override #navbar style? */
.navNotLoggedIn,
.navNotLoggedIn a {
	text-decoration: none;
	color: #999999; /* gray */
}

.header {
	width: 800px;
	height: 200px;
	margin: 0;
	padding: 0;
	background-image: url('/img/index-header-2-800x200.png');
	background-position: center center;
	text-indent: -9000px;
}

h1 {
    margin: 0;
    padding: 0;
}

.content {
	font-family: sans-serif;
    min-height: 300px;
}

#content-index {
  padding: 5px;
  margin: 0;
  float: left;
  width: 590px;
  min-height: 400px;
  clear: both;
}

#content-team-profile h2,
#content-player-profile h2,
#content-manage h2,
#content-roster h2,
#content-league h2,
#content-calendar h2 {
    text-align: center; /* TODO does this mess up the manage page header that lists all teams? */
}

#content-player-profile h2 {
    /* background-color: see site-wide color */ 
}

h4 {
    margin: 0;
    padding: 0;
}

p {
    margin:2px;
    padding: 0;
}

#content-manage hr,
#content-team-profile hr,
#content-player-profile hr {
    clear: both;
}

#login-module {
  padding: 5px;
  margin: 0;
  float: left;
  width: 190px;
}

#login-module p {
  margin: 0;
  padding: 0;
  border: 0;
}

#login-module p a {
  display: block;
  padding: 5px;
  border: 1px solid #000000;
  /* background-color: see site-wide color */
  font-family: sans-serif;
  text-decoration: none;
  font-size: 1.2em;
  color: #000000; /* black */
  text-align:center;
}

.footer {
  margin: 0;
  padding: 20px 0;
  clear: both;
  width: 100%;
}

.footer p {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer a {
    color: #000000; /* black */
}

/* database or general error */
.db-error,
.error,
.warning {
  color: #ff0000; /* red */
  font-weight: bold;
}

#div-around-roster-table {
    margin: 0 auto;
    padding: 0;
    width: 50%;
}

#content-roster table {
    width: 100%;
}

#content-roster table th {
	background-color: #dddddd; /* gray */
}

#content-roster table td {
    text-align: center;
}

#content-roster table td + td {
    text-align: left;
}

/* the div that holds the table that shows the teams the player is currently on */
#player_s-teams {

}

#content-team-profile img,
#content-player-profile img,
#content-manage img,
#content-roster img,
#content-game img {
    margin: 5px 5px 10px 5px;
    padding: 0;
    border-width: 2px;
    border-style: solid;
	display: block;
	float: right;
    max-width: 300px;
    max-height: 400px;
}

#content-player-profile img {
	/* color: site-wide color */
}

#content-game img {
    margin: 5px auto 10px auto;
	display: block;
	float: none;
    max-width: 300px;
    max-height: 400px;
}

#content-team-profile p,
#content-player-profile p,
#content-manage p,
#content-roster p {
    /* TODO need a way to make this text wrap next to those floated images */
}


#game-list table th {
	font-weight: bold;
}

#game-list table td {
	background-color: #cccccc; /* gray */
}

#content-calendar h4,
#content-calendar p {
    margin: 0 auto;
    width: 80%;
}

#content-calendar table {
	margin: 10px auto 0 auto;
	text-align: center;
	width: 80%;
    border-collapse: collapse;
}

#content-calendar table th {
	background-color: #ffffcc; /* light yellow */
}

#content-calendar table th,
#content-calendar table td {
	height: 2em;
}

#content-calendar table tr td {
    width: 15%;
}

#content-calendar table tr td + td,
#content-calendar table tr td + td + td,
#content-calendar table tr td + td + td + td,
#content-calendar table tr td + td + td + td + td,
#content-calendar table tr td + td + td + td + td + td {
    width: 14%;
}

#content-calendar table tr td + td + td + td + td + td + td {
    width: 15%;
}

.calDatePassed {
	background-image: none;
	background-color: #dddddd; /* gray */
}

#calendar .todays-date {
	/* border-color: see site-wide color */
	border-width: 2px;
}

#player_s-teams table th {
	background-color: #dddddd; /* gray */
}

.gender-f {
	background-color: #ffccff; /* unimaginitive pink */
}

.gender-m {
	background-color: #99ffff; /* electric booga-blue */
}

.gender-u {
	background-color: #ddccff; /* boring purple */
}

.bold {
	font-weight: bold;
}

.center {
    text-align: center;
}

/************* field layout rules *************/

#content-field-layout h3,
#content-lineup h3,
#content-game h3 {
    text-align: center;
}

#softballField { 
    float: left;
    background-image: url('/img/baseball-field-w-t-ball-positions-hi.png');
    background-repeat: no-repeat;
    width: 600px;
    height: 330px;
    position: relative;
    padding: 0;
    margin: 0 auto;
}

#softballField + p {
    clear: both;
}
      
#gameInfo {
        padding: 0;
        margin: 0;
        margin-top: 2px;
        background-color: #000000; /* black */
        /*width: 100%;*/
}

#gameInfo p {
	font-family: sans-serif;
	font-weight: bold;
	color: #dd3300; /* red-orange */
	padding: 0;
	text-align: center;
	/*margin: auto 0 auto 0;*/
}

.playerPos {
	position: absolute;
	padding: 0;
	margin: 0;
	min-width: 150px;
    max-width: 300px;
	font-weight: bold;
	text-align: center;
}

.playerPos p {
    margin: 0;
    padding: 0;
}

.playerPos a {
    text-decoration: none;
}

.playerPos-GenderBadge {
    width: 5%;
    max-width: 15px;
    border-left: 1px solid black;
}

.playerPos-left {
    overflow: hidden;
}

.playerPos-right {
    float: right;
}

/* pitcher */
#field-pos-1 {
	left: 70px;
	top: 214px;
}

/* catcher */
#field-pos-2 {
	left: 11px;
	top: 297px;
}

/* first base */
#field-pos-3 {
	left: 236px;
	top: 274px;
}

/* second base */
#field-pos-4 {
	left: 241px;
	top: 184px;
}

/* third base */
#field-pos-5 {
	left: 24px;
	top: 150px;
}

/* short stop */
#field-pos-6 {
	left: 148px;
	top: 121px;
}

/* left field */
#field-pos-7 {
	left: 73px;
	top: 33px;
}

/* center field a.k.a. left center */
#field-pos-8 {
	left: 219px;
	top: 55px;
}

/* right field */
#field-pos-9 {
	left: 401px;
	top: 216px;
}

/* rover a.k.a. right center */
#field-pos-10 {
	left: 348px;
	top: 91px;
}

.ep-is-starter {
	font-weight: bold;
}

#extra-player-table {
    float: left;
    max-width: 200px; /* container width = 800, softball field image width = 600 */
}

#extra-player-table th {
    font-weight: bold;
    text-align: center;
}

#extra-player-table td {
    text-align: center;
}

#extra-player-table td + td {
    text-align: left;
}

/************* END field layout rules *************/

#content-game h2 {
    text-align: center;
}

#home-team {
	width: 50%;
	margin: 0;
	padding: 0;
    float: left;
}

#away-team {
	width: 50%;
	margin: 0;
	padding: 0;
    float: left;
}

#home-team h3, #away-team h3 {
	margin-left: auto;
	margin-right: auto;
}

#final-score {
	background-color: #ffcccc; /* light red */
}

#final-score p {
	text-align: center;
}

#content-field-layout,
#content-lineup {
    text-align: center;
}

#extra-player-list {
    margin-top: 8px;
}

#extra-player-list p,
#extra-player-list ul {
    padding: 0;
    margin: 0;
}

#lineup-whole-form {
    border: 1px dashed black;
	display: inline-block;
}

.lineup-header {
	margin: 15px 3px;
    padding: 0;
}

/* NOTE: To get the lineup header fields to take up the remaining space, see:
 *         https://stackoverflow.com/questions/1260122/expand-div-to-take-remaining-width
 *       and
 *         http://colinaarts.com/articles/the-magic-of-overflow-hidden/
 */
.lineup-header p {
    margin: 0;
    margin-right: 8px;
    padding: 0;
    display: block;
    text-align: left;
    float: left;
    clear: left;
    border-bottom: 1px solid white;
    font-weight: bold;
}

.lineup-header p + p {
    margin: 0;
    padding-left: 3px;
    overflow: hidden;
    float: none;
    clear: none;
    border-bottom: 1px solid black;
    font-weight: normal;
}

#lineup-whole-form table {
	margin: 5px;	
	padding: 0;
	border: 1px solid black;
	border-collapse: collapse;
    clear: both;
}

#lineup-whole-form table th,
#lineup-whole-form table td {
	border: 1px solid black;
	padding: 3px;
}

#lineup-whole-form table th {
	font-weight: bold;
}

/* center shirt numbers */
#lineup-whole-form table tr > td {
	text-align: center;
}

/* align names to left */
#lineup-whole-form table tr > td + td {
    text-align: left;
}

/* center positions */
#lineup-whole-form table tr > td + td + td {
    text-align: center;
}

#frmLogin input,
#frmRegister input {
}

#msg {
	margin: 10px 0;
	padding: 8px;
	font-weight: bold;
    border-width: 1px;
    border-style: solid;
}

.msg-success {
	border-color: #00ff00; /* green */
	background-color: #99ffcc; /* light green */
}

.msg-failure {
	border-color: #ff0000; /* red */
	background-color: #ff99cc; /* light red */
}

.msg-neutral {
	border-color: #000000; /* black */
	background-color: #cccccc; /* gray */
}

