#index-body {
/*TODO this fixes the width, which is bad*/
	width: 800px;
}

#index-body div {
  /*margin: 5px;*/
}

#index-header {
  width: 800px;
  height: 200px;
  overflow: hidden;
  background-image: url('images/index-header-800x200.png');
  background-color: #8a17db;
}

#index-header p {
/*TODO this isn't hiding the text properly!*/
  position: relative;
  left: 9000;
}

#index-content {
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
  float: left;
  width: 75%;
  min-width: 595px;
  min-height: 400px;
}

#index-login {
/*TODO delete this bg color*/
  background-color: lime;
  padding: 0;
  margin: 0;
  float: left;
  width: 25%;
/*TODO min-width causes the div to clear if window is too small. I don't want that.*/
  /*min-width: 200px;*/
}

#index-footer {
  background-color: red;
  clear: both;
  width: 800px;
}

#index-footer a {
  color: #000000;
}

/* database or general error */
.db-error, .error {
  color: #ff0000;
  font-weight: bold;
}

/* the roster page body */
#roster-body {
	background-color: #ffffff;
}

/* the div that holds the roster table */
#roster {

}

#roster table th {
	background-color: #dddddd;
}

/* the div that holds the table that shows the teams the player is currently on */
#player_s-teams {

}


#game-list table th {
	font-weight: bold;
}

#game-list table td {
	background-color: #cccccc;
}

#calendar {

}

#calendar table {
	text-align: center;
}

#calendar table th {
	background-color: #ffffcc;
}

#calendar .gameday {
	background-image: url('images/ball.png');
	font-weight: bold;
}

#calendar .calDatePassed {
	background-image: none;
	background-color: #dddddd;
}

#calendar .todays-date {
	border-color: #22eecc;
	border-width: 2px;
}

#player_s-teams table th {
	background-color: #dddddd;
}

.spring13 {
	background-color: #99ff66;
}

.gender-female {
	background-color: #ffccff;
        /*color: #FF00FF;*/ /* unimaginitive pink */
}

.gender-male {
	background-color: #99ffff;
        /*color: #3333FF;*/ /* electric booga-blue */
}

.gender-missing {
	background-color: #cccccc;
}

.bold {
	font-weight: bold;
}

/************* field layout rules *************/

#field-layout-body {
        /*width: 600px;
        height: 330px;*/
}
      
#softballField { 
        background-image: url('images/baseball-field-w-t-ball-positions-hi.png');
        background-repeat: no-repeat;
        width: 600px;
        height: 330px;
        position: relative;
        padding: 0px;
        margin: 0px;
}
      
#gameInfo {
        padding: 0px;
        margin: 0px;
        margin-top: 2px;
        background-color: #000000;
        /*width: 100%;*/
}

#gameInfo p {
	font-family: sans-serif;
	font-weight: bold;
	color: #dd3300;
	padding: 0px;
	text-align: center;
	/*margin: auto 0 auto 0;*/
}

.playerPos {
	position: absolute;
	background-color: white;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.playerPos p {
	font-family: sans-serif;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}

#pitcher {
	left: 128px;
	top: 214px;
}

#catcher {
	left: 14px;
	top: 284px;
}

#firstBaseman {
	left: 236px;
	top: 274px;
}

#secondBaseman {
	left: 241px;
	top: 184px;
}

#thirdBaseman {
	left: 76px;
	top: 150px;
}

#shortstop {
	left: 148px;
	top: 121px;
}

#leftFielder {
	left: 73px;
	top: 33px;
}

/* a.k.a. left center */
#centerFielder {
	left: 219px;
	top: 55px;
}

#rightFielder {
	left: 361px;
	top: 216px;
}

/* a.k.a. right center */
#rover {
	left: 348px;
	top: 91px;
}

/************* END field layout rules *************/

#home-team {
	background-color: yellow;
	float: left;
	width: 40%;
	padding:10px;
	margin: 2px;
}

#away-team {
	background-color: orange;
	float: left;
	width: 40%;
	padding:10px;
	margin: 2px;
}

#home-team h3, #away-team h3 {
	margin-left: auto;
	margin-right: auto;
}

#final-score {
	background-color: #ffcccc;
	clear: both;
}

#final-score p {
	text-align: center;
}
