<?php

define('PROJECT_NAME', 'Team Manager');

/* database access vars */
define('DB_HOST', 'localhost');
define('DB_USER', 'user');
define('DB_PASS', 'pass');
//NOTE: DB_NAME is defined by combining PREFIX and SHORTNAME
define('DB_PREFIX', '');
define('DB_SHORTNAME', 'team_mgr');

